
{
	
	"reportPath" : "{__report-path__}",
	"artifactsPath" : "{__artifacts-path__}",
	"browserPath" : "{__browser-path__}/",
	"failTry" : "{__fail-try-value__}",
	"waitForRerun" : "{__wait-for-rerun__}",
	"Assert" : "{__assert__}",
	"appurl":"$(__app-url__)",
	"username":"{__username__}",
	"password":"{__password__}"
		
	
}